$bordercolor: #888;
$activecolor: #D61518;

$aqua:#00FFFF;
$black:#000000;
$blue:#0000FF;
$dark_blue:#00008B;
$dark_byan:#008B8B;
$dark_gray:#A9A9A9;

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}